#storyRow {
    border-bottom: 1px solid tan;
    margin-bottom: 100px;
}


.storyColVid {
    /* padding: 50px; */
    /* padding-right: 25px; */
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

.storyColP {
    padding: 50px;
    padding-left: 25px;
    margin-bottom: 50px;
    /* width: 50%; */
    float: left;
}

#storyVid {
    
}

.storyP {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    word-wrap: break-word;
}

#what {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
}

#how {
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
}

@media screen and (max-width: 1025px) {
    
    #homeContainer {
        border-bottom: 1px solid tan;
        margin-bottom: 0;
    }
    
    .storyColVid {
        padding: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 50%;
        text-align: center;
    }

    #storyVid {
        width: 370px;
        height: 200px;
    }

    .storyColP {
        padding: 40px;
        margin: auto;
        margin-bottom: 0;
        width: 50%;
        /* text-align: center; */
    }
    
    
    
    .storyP {
        font-size: 15px;
    }

}

@media screen and (max-width: 450px) {
    
    #homeContainer {
        border-bottom: 1px solid tan;
        margin-bottom: 0;
    }
    
    
    .storyColVid {
        padding: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
    }

    #storyVid {
        width: 350px;
        height: 200px;
    }

    .storyColP {
        padding: 30px;
        margin: auto;
        margin-bottom: 0;
        width: 90%;
        /* text-align: center; */
    }
    
    
    
    .storyP {
        font-size: 15px;
    }

}

