.compFooter {
    width: 100%;
    margin-top: auto;
}

.bba {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    /* height: 100px; */
    height: 100%;
    width: 100%;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}


.footerSections {
    background: rgb(190, 187, 187);
    height: 150px;
    
}

.footerCol1 {

}

.footerCol2 {
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
}

.footerCol3 {
    
}

@media screen and (max-width: 800px) {
    
    .bba{
        font-size: 35px;
    }

}


@media screen and (max-width: 580px) {
    
    .bba{
        font-size: 20px;
        padding: 10px;
    }

}



