.productPageBox {
    text-align: center;
}

.productHeader {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: black;
    margin-top: 25px;
}

.productContainer {
    border-bottom: 1px solid tan;
    padding-top: 75px;
    padding-bottom: 100px;
}

.productCardCol {
    padding: 10px;
    padding-bottom: 10%;
}


